/* here we have the styles that are related to the  index.html*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding : 0px;
}

body{
    background-image: url("/static/assets/old-newspaper-350376_1280.jpg");
    background-size: cover;
    background-repeat: none;
    background-color: rgb(15, 13, 13);
    height : 100vh;
    width : 100vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header {
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
}

.body-wrapper{
    height : 100%;
    width : 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
}

.heading{
    text-decoration: none;
    color : white;
    font-weight: lighter;
}

.logo_name{
    font-weight: 500;
}

.logo-part .heading .logo_name{
    transition:all 0.1s ease-in;
}

.logo_name:hover{
    color : rgb(44, 199, 23);
}

.user{
    display: flex;
    box-sizing: border-box;
    width : 100%;
    padding : 10px 20px;
    align-items: center;
    justify-content: center;
    gap : 10px;
}

.form-data{
    display: flex;
    height : 40%;
    width : 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border : solid 2px white;
    border-radius : 2rem;

}

main{
    display: flex;
    height :  85%;
    flex-direction: column;
    padding-bottom : 1rem;
    justify-content: center;
    align-items: center;
}

.main-heading{
    color : white;
    padding-bottom : 1rem;
    padding-right : 3rem;
    padding-left:3rem;
    text-align: center;
    font-weight : 400;
    font-size: 2rem;
}
.user-input{
    width : 64%;
    padding-right : 10px;
    border-radius: 2rem;
    border: none;
    padding-right : 10px;
}

.user-input-text{
    height: 2rem;
    width : 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding-top : 0.5rem;
    padding-left : 1rem;
    border-radius: 2rem;
    line-break: ;
    border: solid black 2px;
}

.user-input-text:focus, .user-input-text{
    outline: none;
}

.submit{
    width : 30%;
    height: 100%;
    font-size: 1rem;
}

.submit-btn{
    width : 100%;
    height: 2rem;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    border-radius: 2rem;
    border: none;
    background-color: yellow;
}

.submit-btn:hover{
    background-color: rgb(15, 6, 99);
    color : white;
}

.output-display{
    padding-top : 1rem;
}

.output{
    color : white;
    font-size: 1.6rem;
    font-weight: 400;
}


.options{
    display: inline-flex;
    width : 200px;
    justify-content: space-around;
}

.options .btn{
    width : 80px;
    font-size:1rem;
    padding : 0.1rem;
    height : 30px;
    border-radius: 2rem;
    border : grey 1px solid;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border: none;
}

.options .signup-btn{
    background-color: rgb(57, 194, 3);
    color :white;
}

.options .login-btn{
    background-color: dodgerblue;
    color:white;
}


footer .footer{
    text-align: center;
    color : white;
    font-weight: bolder;

}

.options ul{
    list-style: none;
    display: flex;
    color: white;
    gap : 1rem;
}


@media(max-width : 780px){
    .main-heading{
        font-size: 1.2rem;
        word-spacing: 1px;
    }

    .form-data{
        width : 90%;
    }

    .output{
        font-size: 1rem;
    }
}